@font-face {
  font-family: "iconfont"; /* Project id 3633800 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1669557590373') format('woff2'),
       url('iconfont.woff?t=1669557590373') format('woff'),
       url('iconfont.ttf?t=1669557590373') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hospital:before {
  content: "\e86f";
}

.icon-bingfang2:before {
  content: "\e870";
}

.icon-yisheng1:before {
  content: "\e872";
}

.icon-hushi2:before {
  content: "\e873";
}

.icon-shoushudao1:before {
  content: "\e876";
}

.icon-zhusheqi1:before {
  content: "\e87e";
}

.icon-yaowan1:before {
  content: "\e88f";
}

.icon-zhongyi1:before {
  content: "\e8d4";
}

.icon-yiyuan:before {
  content: "\e91a";
}

.icon-yisheng:before {
  content: "\e91e";
}

.icon-shoushudao:before {
  content: "\e920";
}

.icon-zhusheqi:before {
  content: "\e927";
}

.icon-yaowan:before {
  content: "\e938";
}

.icon-zhongyi:before {
  content: "\e97f";
}

.icon-bingfang:before {
  content: "\e91b";
}

.icon-hushi:before {
  content: "\e91d";
}

.icon-bingfang1:before {
  content: "\e9c3";
}

.icon-hushi1:before {
  content: "\e9c5";
}

.icon-ziyuanxhdpi:before {
  content: "\e64c";
}

.icon-hushizhan:before {
  content: "\e62d";
}

