@font-face {
  font-family: "iconfont"; /* Project id 3633800 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1668938286090') format('woff2'),
       url('iconfont.woff?t=1668938286090') format('woff'),
       url('iconfont.ttf?t=1668938286090') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bingfang:before {
  content: "\e91b";
}

.icon-hushi:before {
  content: "\e91d";
}

.icon-bingfang1:before {
  content: "\e9c3";
}

.icon-hushi1:before {
  content: "\e9c5";
}

.icon-ziyuanxhdpi:before {
  content: "\e64c";
}

.icon-hushizhan:before {
  content: "\e62d";
}

