@font-face {
  font-family: "iconfont"; /* Project id 3633800 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1671609535055') format('woff2'),
       url('iconfont.woff?t=1671609535055') format('woff'),
       url('iconfont.ttf?t=1671609535055') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e816";
}

.icon-xiaoxi:before {
  content: "\e817";
}

.icon-xihuan:before {
  content: "\e818";
}

.icon-xitong:before {
  content: "\e8c0";
}

.icon-shoucang:before {
  content: "\e627";
}

.icon-hospital:before {
  content: "\e86f";
}

.icon-bingfang2:before {
  content: "\e870";
}

.icon-yisheng1:before {
  content: "\e872";
}

.icon-hushi2:before {
  content: "\e873";
}

.icon-shoushudao1:before {
  content: "\e876";
}

.icon-zhusheqi1:before {
  content: "\e87e";
}

.icon-yaowan1:before {
  content: "\e88f";
}

.icon-zhongyi1:before {
  content: "\e8d4";
}

.icon-ziyuanxhdpi:before {
  content: "\e64c";
}

.icon-hushizhan:before {
  content: "\e62d";
}

